<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>登録</title>
</head>
<body>
<h1>登録ページ</h1>

<form action="#" th:action="@{/Customer}" th:object="${customerForm}" method="post">
    
    
    <p><label for="custid">ユーザーID</label>:
       <input type="text" id="custid" name="custid" th:field="*{custid}" autofocus="autofocus" />
       <span th:if="${#fields.hasErrors('custid')}" th:errors="*{custid}">Error</span></p>
    <p><label for="custname">ユーザー名</label>:
       <input type="text" id="custname" name="custname" th:field="*{custname}" />
       <span th:if="${#fields.hasErrors('custname')}" th:errors="*{custname}">Error</span></p>
    <p><label for="orgname">組織名</label>:
       <input type="text" id="orgname" name="orgname" th:field="*{orgname}" />
       <span th:if="${#fields.hasErrors('orgname')}" th:errors="*{orgname}">Error</span></p>
    <p><label for="password">パスワード</label>:
       <input type="password" id="password" name="password" th:field="*{password}" />
       <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span></p>
    
    <p><input type="submit" value="登録" /></p>
    
</form>
<input type="submit" onclick="location.href='/CustomerList'" value = "一覧" />
</body>
</html>
