<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-push-3 col-md-6">
				<div class="form-wrap">
					<div class="text-center">
						<h1>Login</h1>
						<input type="submit" onclick="location.href='/signup'" value="登録" />
						<input type="submit" onclick="location.href='/userlist'"　value="一覧" />
					</div>
				</div>
			</div>
		</div>
</body>
</html>