<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>登録</title>
</head>
<body>
<h1>登録ページ</h1>

<form action="#" th:action="@{/signup}" th:object="${userForm}" method="post">
    
    
    <p><label for="CUSTID">ユーザーID</label>:
       <input type="text" id="CUSTID" name="CUSTID" autofocus="autofocus" /></p>
    <p><label for="CUSTNAME">ユーザー名</label>:
       <input type="text" id="CUSTNAME" name="CUSTNAME" /></p>
    <p><label for="ORGNAME">組織名</label>:
       <input type="text" id="ORGNAME" name="ORGNAME" /></p>
    <p><label for="PASSWORD">パスワード</label>:
       <input type="password" id="PASSWORD" name="PASSWORD" /></p>
    
       
    <p><input type="submit" value="登録" /></p>
    
</form>
</body>
</html>