<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>ユーザー一覧</title>
</head>
<body>
<table>
	<tr th:each="user :${users}">
		<td th:text="${user.NO}"></td>
		<td th:text="${user.CUSTID}"></td>
		<td th:text="${user.CUSTNAME}"></td>
		<td th:text="${user.ORGNAME}"></td>
		<td th:text="${user.PASSWORD}"></td>
		<td th:text="${user.EFFECT}"></td>
		<td th:text="${user.ROLE}"></td>
		<td>
			<form th:action="@{/userlist}" method="post">
				<input type="submit" value="削除"/>
				<input type="hidden" name="NO" th:value="${user.NO}"/>
			</form>
		</td>
	</tr>
	
</table>
</body>
</html>
		